@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4f46e5;
  --primary-dark: #4338ca;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.hover\:bg-primary-dark:hover {
  background-color: var(--primary-dark);
} 